body {
    background: url('../images/background-rockywall.png') repeat; 
    /* from http://subtlepatterns.com */
    font-family: 'Lato', sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  }
  
  .bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.85;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url("../images/bulding1.jpg");
    min-height: 100%;
  }
  
  .bgimg-2 {
    background-image: url("../images/bulding2.jpg");
    min-height: 400px;
  }
  
  .bgimg-3 {
    background-image: url("../images/bulding3.jpg");
    min-height: 400px;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  
  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1024px) {
      .bgimg-1, .bgimg-2, .bgimg-3 {
          background-attachment: scroll;
      }
  }

.centerAbsolutely {
	text-align: center;
	margin: 0 auto;
}

.topBar{
    color: black;
    background-color:white;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
    text-transform: uppercase;
}

.homePageRow{
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid #b3ffb3 3px;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    color: black;
    width: 400px;
    text-align: center;
	margin: 0 auto;
}

.redBorder {
	border: 2px solid #d40603 !important;
}

.mainText{
    margin: 30px;
    font-weight: bold;
}