body {
    background: url('../images/background-rockywall.png') repeat; 
    /* from http://subtlepatterns.com */
    font-family: 'Lato', sans-serif;
}

.scrollUp{
	width: 64px;
	height: 64px;
	text-decoration: none;
	background: url("../images/scrollUp.png") no-repeat 0px 0px;
	position: fixed;
	right: 50px;
	bottom: 50px;
	display: none;
}

.main-content{
    padding: 85px;
}

.centerAbsolutely {
	text-align: center;
	margin: 0 auto;
}

.mainElement{
   margin-top: 50px;
}

.mainChartBorder{
    border: solid #b3ffb3 3px;
    padding: 5px;
    border-radius: 15px;
}

.hid {
	visibility: hidden;
}

.redBorder {
	border: 2px solid #d40603 !important;
}

/* ROW budget begin */

.budgetRow{
    margin: 0 auto;
    width: 600px;
    height: 250px;
    border: solid #b3ffb3 3px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.budgetRowContent{
    margin: auto;
}

.budgetAddCalendar{
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}

.budgetRowChart{
    padding: 5px;
    margin: 10px;
    float: left;
    height: 100%;
    width: 45%;
}

.budgetTextGreen{
    color: green;
    padding-top: 5px;
}

.budgetTextRed{
    color: red;
    padding-top: 5px;
}

.budgetTextSum{
    padding-top: 5px;
}

/* Budget add begin*/

.addBudgetPanel{
    width: 600px;
    border: solid #b3ffb3 3px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 15px;
}

.addBudgetRow{
    padding: 15px;
    margin: 15px;
    border: solid #FFCC33 3px;
    margin-top: 20px;
    border-radius: 15px;
}

.addBudgetForm{
    margin: 10px;
}

/* Row fixedexpenses begin*/

.fixedexpensesRow{
    margin: 0 auto;
    width: 600px;
    border: solid #b3ffb3 3px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    text-align: center;
}

.fixedexpensesForm{
    margin: 10px;
}

/* Setting begin */

.settingPanel{
    margin: 0 auto;
    width: 600px;
    border: solid #b3ffb3 3px;
    padding: 10px;
    margin-top: 50px;
    border-radius: 15px;
    text-align: center;
}

/* h1{
    padding-top: 20px;
    padding-bottom: 20px;
} */

/* 52, 58, 64 */
/* rgb(212, 90, 30) 2px; */
/* .tab{ */
    /* border: solid rgb(212, 90, 30) 1px;
    height: 1000px; 
    border-radius: 5px;
    padding: 15px;
    background-color: white; */
/* } */

