<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<title>Strona główna</title>

	<!--JQuery-->
    <script src="lib/jquery/dist/jquery.min.js"></script>

    <!--Bootstrap JS / CSS-->
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <!--angularJS JS-->
    <script src="lib/angular/angular.min.js"></script>

    <!--Chart.js-->
    <script src="lib/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="lib/chart.js/dist/Chart.min.js"></script>

    <!--Sweet alert JS / CSS-->
    <link href="lib/sweetalert/dist/sweetalert.css" rel="stylesheet" media="screen"/>
    <script src="lib/sweetalert/dist/sweetalert.min.js"></script>

    <!--Jasny Bootstrap JS / SCC-->
    <script src="lib/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>
    <link href="lib/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet" media="screen"/>

    <!--angular-local-storage JS -->
    <script src="lib/angular-local-storage/dist/angular-local-storage.min.js"></script>

    <!--My App CSS-->
    <link href="css/homePage.css" rel="stylesheet" media="screen"/>

    <!--My App JS - basicFunction JS-->
    <script src="js/basicFunction.js"></script>

    <!--My App JS-->
	<script src="js/app.js"></script>
	
	<!-- Czcionka Lato -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,700i,900" rel="stylesheet">

</head>
<body ng-app="app">
	<div class="container" ng-controller="anonymousPanel">
			  
		<div class="topBar">
			<h2 class="centerAbsolutely">Witamy w aplikacji do zarządzania budżetem domowym</h2>
		</div>
			  
		<div class="bgimg-2">
			<div class="caption">
				<span class="border">Organizuj</span>
				<!-- style="background-color:transparent;font-size:25px;color: #f7f7f7;" -->
			</div>
		</div>
			  
		<div style="position:relative;">
			<div style="color:#ddd;text-align:center;padding:50px 80px;text-align: justify;">
				<div class="homePageRow">
					<h3 class="mainText">Logowanie</h3>
			
					<div class="form-group">
						<label>Login :</label>
						<input id="authLogin" type="text" class="form-control" ng-model="authLogin" />
					</div>
			
					<div class="form-group">
						<label>Hasło :</label>
						<input id="authPassword" type="password" class="form-control" ng-model="authPassword" />
					</div>
			
					<div class="centerAbsolutely">
						<button ng-click="login()" type="button" class="btn btn-success">Zaloguj</button>
					</div>
				</div>
			</div>
		</div>
			  
		<div class="bgimg-3">
			<div class="caption">
				<span class="border">Oszczędzaj</span>
				<!-- style="background-color:transparent;font-size:25px;color: #f7f7f7;" -->
			</div>
		</div>
			  
		<div style="margin: 50px;">
			<!-- <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;"> -->
					<div class="homePageRow">
						<h3 class="mainText">Rejestracja</h3>
			
						<div class="form-group">
							<label>Podaj login :</label>
							<input id="registrationLogin" type="text" class="form-control" ng-model="registrationLogin" />
						</div>
			
						<div class="form-group">
							<label>Podaj hasło :</label>
							<input id="registrationPass" type="password" class="form-control" ng-model="registrationPass" />
						</div>
			
						<div class="form-group">
							<label>Powtórz hasło :</label>
							<input id="registrationPass2" type="password" class="form-control" ng-model="registrationPass2" />
						</div>
			
						<div class="centerAbsolutely">
							<button ng-click="registrationUser()" type="button" class="btn btn-success">Rejestracja</button>
						</div>
					</div>
			</div>
		</div>
			  
		<div class="bgimg-1">
			<div class="caption">
				<span class="border">Wydawaj</span>
			</div>
		</div>

		</div>
	</div>
</body>
	<!--Controller anonymous JS-->
	<script src="js/controllers/controllerAnonymous.js"></script>
</html>