<!doctype html>
<html>
<head>

    <title>User pane</title>

    <script src="lib/jquery/dist/jquery.js"></script>

    <!--Bootstrap JS / CSS, JQuery-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 

    <!--angularJS JS-->
    <script src="lib/angular/angular.min.js"></script>

    <!--Chart.js-->
    <script src="lib/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="lib/chart.js/dist/Chart.min.js"></script>
    <script src="lib/chart.js/samples/utils.js"></script>

    <!--Sweet alert JS / CSS-->
    <link href="lib/sweetalert/dist/sweetalert.css" rel="stylesheet" media="screen"/>
    <script src="lib/sweetalert/dist/sweetalert.min.js"></script>

    <!--Jasny Bootstrap JS / SCC-->
    <script src="lib/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>
    <link href="lib/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet" media="screen"/>

    <!--angular-local-storage JS -->
    <script src="lib/angular-local-storage/dist/angular-local-storage.min.js"></script>

    <!--My App CSS-->
    <link href="css/style.css" rel="stylesheet" media="screen"/>

    <!--My App JS - basicFunction JS-->
    <script src="js/basicFunction.js"></script>

    <!--My App JS-->
    <script src="js/app.js"></script>

    <!-- Bootstrap Datetimepicker -->
    <script type="text/javascript" src="lib/moment.min.js"></script> 
    <script type="text/javascript" src="lib/moment-with-locales.min.js"></script> 
    <script type="text/javascript" src="lib/pl.js"></script>
    <script type="text/javascript" src="lib/locales.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="lib/bootstrap-datetimepicker.min.css" /> 
    
    <!-- Czcionka Lato -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,700i,900" rel="stylesheet">

    <!-- JQuery scrollTo -->
    <script type="text/javascript" src="lib/jquery.scrollTo.min.js"></script>

</head>
<body ng-app="app">
    <div ng-controller="userPanel">

        <!-- NAV BAR -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                
                <a id="userName" class="navbar-brand" href="#">Witaj </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    
                    <ul class="nav navbar-nav mr-auto" role="tablist"> 

                        <li class="nav-active">
                            <a class="nav-link" href="#tab-budget" data-toggle="tab" role="tab">Budżet</a>
                        </li>
                        <li class="nav-active">
                                <a class="nav-link" href="#tab-fixedexpenses" data-toggle="tab" role="tab">Wydatki stałe</a>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-setting" data-toggle="tab" role="tab" aria-controls="tab-setting">Ustawienia</a>
                        </li>
                        
                    </ul>

                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Szukaj..." aria-label="Szukaj" ng-model="searchTable">
                        <button ng-click="logout();" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Wyloguj</button>
                    </form>
                </div>
            </nav>

    <!-- MAIN CONTENT -->
    <main role="main" class="main-content">

        <a href ="#" class="scrollUp"></a>

        <div class="container">
            <div class="tab-content tab">

                <div class="tab-pane active centerAbsolutely" role="tabpanel" id="tab-budget">
          
                    <div>
                        <h1>Ilość miesięcy: {{budgets.length}}</h1>
                        <button ng-click="addBudgetButton()" type="button" class="btn btn-info mainElement">Dodaj nowy budżet</button>
                    </div>

                    <div id="addBudgetPanel" class="addBudgetPanel">
                           
                        <!-- Budget add begin -->

                            <h2 class="mainElement">Dodaj nowy budżet</h2>
                            
                            <div class="budgetAddCalendar">
                                <div class="container">
                                        <div class="form-group">
                                            <div class='input-group date' id='dateTimePickerBudget'>           
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <button class="btn btn-info">Wybierz datę</button>
                                                </span>
                                            </div>
                                    </div>
                                </div>

                                <div class="centerAbsolutely">
                                    <button ng-click="addBudgetRow()" type="button" class="btn btn-info">Dodaj kolejny wiersz</button>
                                    <button ng-click="sendBudgetRow()" type="button" class="btn btn-success">Zapisz</button>
                                </div>
                            </div>
        
                            <div ng-repeat="addBudgetRow in addBudgetRows">
                                
                                <div class="addBudgetRow">
                                    
                                    <h4>Id: {{$index+1}}</h4>
                                                
                                    <div class="addBudgetForm">
                                        <input type="text" class="form-control" ng-model="addBudgetRow.name" />
                                    </div>
                                                
                                    <div class="addBudgetForm">
                                        <input type="text" class="form-control" ng-model="addBudgetRow.value" />
                                    </div>
            
                                    <div class="addBudgetForm">
                                        <div style="color:black">
                                            <select class="form-control" ng-model="addBudgetRow.type" ng-options="type.value as type.value for type in typeOfExpense"></select>
                                        </div>
                                    </div>
            
                                    <div class="addBudgetForm">
                                        <button ng-click="deleteBudgetRow($index)" class="btn btn-danger btn-xs glyphicon glyphicon-remove">Usuń</button>
                                    </div>
                                </div>

                            </div>
                                 
                            <!-- Budget add end -->

                    </div>
                    
                    <div style="width:75%;" class="centerAbsolutely mainElement mainChartBorder">
                        <canvas id="mainCanvas"></canvas>
                    </div>

                    <div ng-repeat="budget in budgets | filter : searchTable" class="mainElement">
                        <div class="budgetRow">
                           
                            <h2>{{getDateByBudget(budget.date)}}</h2>
                            <h6 class="budgetTextGreen">Dochody: {{budget.plusSum}}</h6>
                            <h6 class="budgetTextRed">Wydatki: {{budget.minusSum}}</h6> 
                            <h6 class="budgetTextSum">Suma: {{budget.sum}}</h6><br/>
                            <button ng-click="editBudgetButton(budget.date);" type="button" class="btn btn-info">Edycja</button>
                               

                            <!-- <h2>{{getDateByBudget(budget.date)}}</h2>
                            <div class="budgetRowContent">
                                <div class="budgetRowChart">
                                    <canvas id="rowCanvas{{getDateByBudget(budget.date)}}"></canvas>  -->
                                <!-- </div>  -->
                                    
                                <!-- <div class="budgetRowChart">
                                    <h6 class="budgetTextGreen">Dochody: {{budget.plusSum}}</h6>
                                    <h6 class="budgetTextRed">Wydatki: {{budget.minusSum}}</h6> 
                                    <h6 class="budgetTextSum">Suma: {{budget.sum}}</h6><br/>
                                    <button ng-click="editBudgetButton(budget.date);" type="button" class="btn btn-info">Edycja</button>
                                    <div style="clear:both;"></div>
                                </div>
                                <div style="clear:both;"></div>
                            </div> -->

                        </div>
                    </div>

                    <!-- Budget edit begin -->
                    <div id="editBudget" class="addBudgetPanel">

                        <h1>Edycja</h1>

                        <div ng-repeat="budget in editBudgetByDate" class="addBudgetRow">
                            
                            <h3>{{getDateByBudget(budget.date)}}</h3>

                            Id: {{$index+1}}

                            <div ng-init="$scope.memories = budget.name" class="addBudgetForm">
                                Nazwa: {{budget.name}}
                                <input type="text" class="form-control" ng-model="$scope.memories" ng-if="edit"/>
                            </div>

                            <div ng-init="$scope.memoriesTwo = budget.value" class="addBudgetForm">
                                Wartość: {{budget.value}}
                                <input type="text" class="form-control" ng-model="$scope.memoriesTwo" ng-if="edit"/>
                            </div>

                            <div ng-init="$scope.memoriesThried = budget.type" class="addBudgetForm">
                                Typ: {{budget.type}}
                                <div style="color:black">
                                    <select class="form-control" ng-model="$scope.memoriesThried" ng-options="type.value as type.value for type in typeOfExpense" ng-if="edit"></select>
                                </div>
                            </div>

                            <button ng-click="edit =! edit; changeBudgetById(budget, edit, $index, $scope.memories, $scope.memoriesTwo, $scope.memoriesThried);" class="btn btn-info brn-xs glyphicon glyphicon-edit">Edycja</button>
                            <button ng-click="deleteBudgetById(budget, $index)" class="btn btn-danger btn-xs glyphicon glyphicon-remove">Usuń</button>
                        </div>

                    </div>
                    <!-- Budget edit end -->

                </div>

                <div class="tab-pane" role="tabpanel" id="tab-fixedexpenses">
                    
                    <div>
                        <div class="col-sm-12 center-block">
                        
                            <div class="centerAbsolutely">
                                <h1>Wydatki stałe: {{fixedExpenses.length}}</h1>
                            </div>
                        
                            <div class="row">
                                <div class="centerAbsolutely mainElement">
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#newFixedExpenses">Dodaj nowy stały wydatek</button>
                                </div>
                            </div>
                        
                            <div ng-repeat="fixedExpense in fixedExpenses | filter : searchTable" class="mainElement">
                                <div class="fixedexpensesRow">
                                    
                                    <h4>Id: {{$index+1}}</h4>
                                    
                                    <div ng-init="$scope.memories = fixedExpense.name" class="fixedexpensesForm">
                                        Nazwa: {{fixedExpense.name}}
                                        <input type="text" class="form-control" ng-if="edit" ng-model="$scope.memories"/>
                                    </div>

                                    <div ng-init="$scope.memoriesTwo = fixedExpense.value" class="fixedexpensesForm">
                                        Wartość: {{fixedExpense.value}}
                                        <input type="text" class="form-control" ng-if="edit" ng-model="$scope.memoriesTwo"/>
                                    </div>

                                    <div ng-init="$scope.memoriesThried = fixedExpense.type" class="fixedexpensesForm">
                                        Typ: {{fixedExpense.type}}
                                        <div style="color:black">
                                            <select class="form-control" ng-if="edit" ng-model="$scope.memoriesThried" ng-options="type.value as type.value for type in typeOfExpense">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="fixedexpensesForm">
                                        <button ng-click="edit =! edit; changeFixedExpense(fixedExpense, edit, $scope.memories, $scope.memoriesTwo, $scope.memoriesThried);" class="btn btn-info brn-xs glyphicon glyphicon-edit"> Edycja</button>
                                        <button ng-click="deleteFixedExpenses($index, fixedExpense)" class="btn btn-danger btn-xs glyphicon glyphicon-remove">Usuń</button>        
                                    </div>
                                    
                                </div>             
                        
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tab-pane" role="tabpanel" id="tab-setting">
                
                    <div class="tab-pane active width60 centerAbsolutely" id="tab-setting">

                            <h1 class="text-center">
                                <div>Ustawienia</div>
                            </h1>
        
                            <div class="settingPanel mainElement">
        
                                <div class="form-group">
                                    <h4>Stare hasło</h4>
                                    <input id="oldPass" ng-model="oldPass" type="text" class="form-control"/>
                                </div>
        
                                <div class="form-group">
                                    <h4>Nowe hasło</h4>
                                    <input id="newPass" ng-model="newPass" type="text" class="form-control"/>
                                </div>
        
                                <div class="form-group">
                                    <h4>Powtórz nowe hasło</h4>
                                    <input id="newPass2" ng-model="newPass2" type="text" class="form-control"/>
                                </div>
        
                                <button ng-click="changeUserPass()" type="button" class="btn btn-danger">Zmień hasło</button>

                            </div>

                        </div>
                </div>

            </div>
        </div>

    </main>
    
    <!-- Dodaj wydatek stały BEGIN modal -->
    <div class="modal fade" id="newFixedExpenses" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="background-one">
                    <div class="modal-body">

                        <div class="form-group">
                            <label>Podaj nazwe</label>
                            <input id="newFixedExpensesName" type="text" class="form-control" ng-model="newFixedExpensesName" ng-init="newFixedExpensesName=''" />
                        </div>

                        <div class="form-group">
                            <label>Podaj wartość</label>
                            <input id="newFixedExpensesValue" type="text" class="form-control" ng-model="newFixedExpensesValue" ng-init="newFixedExpensesValue=''" />
                        </div>

                        <div style="color:black">
                            <select class="form-control" ng-model="newFixedExpensesType" ng-options="type.value as type.value for type in typeOfExpense" ng-init="newFixedExpensesType = typeOfExpense[0].value">    
                            </select>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Powrót</button>
                        <button ng-click="addFixedExpenses()" type="button" class="btn btn-success" id="buttonAddEmployee">Dodaj wydatek</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dodaj wydatek stały END -->
    </div>
</body>
    <!--Contraller JS-->
    <script src="js/controllers/controllerUser.js"></script>
</html>